SECRET_KEY=replace-this-with-a-long-random-secret-key
DEBUG=False
ALLOWED_HOSTS=yourusername.pythonanywhere.com
CSRF_TRUSTED_ORIGINS=https://yourusername.pythonanywhere.com

GMS_KEY=
GMS_ENDPOINT=https://gms.ssafy.io/gmsapi/api.openai.com/v1/chat/completions
YOUTUBE_API_KEY=
BGG_TOKEN=
