{% load static %}
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boardgame Recommendation</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    >
    <script type="module" crossorigin src="{% static 'vue/assets/index.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'vue/assets/index.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
